{% extends 'layout.html' %}

{% block title %}Главная страница{% endblock %}
{% block header %}Главная страница{% endblock %}


{% block content %}

    <div class="features">
        <p style="text-indent: 25px; text-align: center;">Парсер — это программа для сбора и систематизации информации, размещенной на различных сайтах. Источником данных может служить текстовое наполнение, HTML-код сайта, заголовки, пункты меню, базы данных и другие элементы. Процесс сбора информации называется парсинг (parsing).

Парсеры используются в интернет-маркетинге для сбора информации с сайтов-конкурентов, а также для анализа собственных веб-ресурсов. Они позволяют обрабатывать большие массивы данных в автоматическом режиме. Это ускоряет и упрощает проведение маркетинговых исследований.</div>
{% endblock %}